// _variables.scss
// Goal: Define variables for the 7-1 pattern CSS architecture.


// ------------------------------ Breakpoint Variables ------------------------------

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);


// ------------------------------ Grid Variables ------------------------------------

$grid-columns: 12;
$grid-gutters: 1.8rem;

// ------------------------------ Color Variables -----------------------------------