// _variables.scss
// Goal: Define variables for the 7-1 pattern CSS architecture.

// ------------------------------ Color Variables -----------------------------------

// ------------------------------ Breakpoint Variables ------------------------------

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

// ------------------------------ Grid Variables ------------------------------------

$grid-columns: 12;
$grid-gutters: 1.8rem;

// ------------------------------ Wrapper Variables ---------------------------------

$wrapper-max-width: 1600px;
$wrapper-padding: 1.8rem;