.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 0) and (max-width: 575px) {
  .hide-on-xs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hide-on-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-md {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hide-on-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-on-xl {
    display: none;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, li,
figure, figcaption,
blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Set basic font styles */
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Set up links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border on images that are inside of <a> elements in IE 10- */
img {
  border-style: none;
}

/* Remove the outline on focused links when they are clicked in Firefox */
*:focus {
  outline: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Make sure elements are displayed consistently across browsers */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

/* Correct sizing of audio and video elements in all browsers */
audio,
video {
  display: inline-block;
}

.flex {
  display: flex;
  /* Flex Direction */
  /* Flex Wrap */
  /* Justify Content */
  /* Align Items */
  /* Align Content */
}
.flex.row {
  flex-direction: row;
}
.flex.row-reverse {
  flex-direction: row-reverse;
}
.flex.column {
  flex-direction: column;
}
.flex.column-reverse {
  flex-direction: column-reverse;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex.flex-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end !important;
}
.flex.center {
  justify-content: center;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.align-items-start {
  align-items: flex-start;
}
.flex.align-items-end {
  align-items: flex-end;
}
.flex.align-items-center {
  align-items: center;
}
.flex.align-items-baseline {
  align-items: baseline;
}
.flex.align-items-stretch {
  align-items: stretch;
}
.flex.align-content-start {
  align-content: flex-start;
}
.flex.align-content-end {
  align-content: flex-end;
}
.flex.align-content-center {
  align-content: center;
}
.flex.align-content-space-between {
  align-content: space-between;
}
.flex.align-content-space-around {
  align-content: space-around;
}
.flex.align-content-stretch {
  align-content: stretch;
}
.flex.gap4 {
  gap: 4px;
}
.flex.gap8 {
  gap: 8px;
}
.flex.gap12 {
  gap: 12px;
}
.flex.gap16 {
  gap: 16px;
}
.flex.gap24 {
  gap: 24px;
}
.flex.gap36 {
  gap: 36px;
}
.flex.gap48 {
  gap: 48px;
}
.flex.gap64 {
  gap: 64px;
}
.flex.gap92 {
  gap: 92px;
}
.flex.gap128 {
  gap: 128px;
}
.flex.gap256 {
  gap: 256px;
}
.flex.gap512 {
  gap: 512px;
}

.flex-grow {
  flex-grow: 1;
}

.grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-gap: 1.8rem;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
}
.grid .cell {
  box-sizing: border-box;
  position: relative;
}
.grid .cell.xs1 {
  grid-column: span 1;
}
.grid .cell.xs2 {
  grid-column: span 2;
}
.grid .cell.xs3 {
  grid-column: span 3;
}
.grid .cell.xs4 {
  grid-column: span 4;
}
.grid .cell.xs5 {
  grid-column: span 5;
}
.grid .cell.xs6 {
  grid-column: span 6;
}
.grid .cell.xs7 {
  grid-column: span 7;
}
.grid .cell.xs8 {
  grid-column: span 8;
}
.grid .cell.xs9 {
  grid-column: span 9;
}
.grid .cell.xs10 {
  grid-column: span 10;
}
.grid .cell.xs11 {
  grid-column: span 11;
}
.grid .cell.xs12 {
  grid-column: span 12;
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid .cell.sm1 {
    grid-column: span 1;
  }
  .grid .cell.sm2 {
    grid-column: span 2;
  }
  .grid .cell.sm3 {
    grid-column: span 3;
  }
  .grid .cell.sm4 {
    grid-column: span 4;
  }
  .grid .cell.sm5 {
    grid-column: span 5;
  }
  .grid .cell.sm6 {
    grid-column: span 6;
  }
  .grid .cell.sm7 {
    grid-column: span 7;
  }
  .grid .cell.sm8 {
    grid-column: span 8;
  }
  .grid .cell.sm9 {
    grid-column: span 9;
  }
  .grid .cell.sm10 {
    grid-column: span 10;
  }
  .grid .cell.sm11 {
    grid-column: span 11;
  }
  .grid .cell.sm12 {
    grid-column: span 12;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid .cell.md1 {
    grid-column: span 1;
  }
  .grid .cell.md2 {
    grid-column: span 2;
  }
  .grid .cell.md3 {
    grid-column: span 3;
  }
  .grid .cell.md4 {
    grid-column: span 4;
  }
  .grid .cell.md5 {
    grid-column: span 5;
  }
  .grid .cell.md6 {
    grid-column: span 6;
  }
  .grid .cell.md7 {
    grid-column: span 7;
  }
  .grid .cell.md8 {
    grid-column: span 8;
  }
  .grid .cell.md9 {
    grid-column: span 9;
  }
  .grid .cell.md10 {
    grid-column: span 10;
  }
  .grid .cell.md11 {
    grid-column: span 11;
  }
  .grid .cell.md12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid .cell.lg1 {
    grid-column: span 1;
  }
  .grid .cell.lg2 {
    grid-column: span 2;
  }
  .grid .cell.lg3 {
    grid-column: span 3;
  }
  .grid .cell.lg4 {
    grid-column: span 4;
  }
  .grid .cell.lg5 {
    grid-column: span 5;
  }
  .grid .cell.lg6 {
    grid-column: span 6;
  }
  .grid .cell.lg7 {
    grid-column: span 7;
  }
  .grid .cell.lg8 {
    grid-column: span 8;
  }
  .grid .cell.lg9 {
    grid-column: span 9;
  }
  .grid .cell.lg10 {
    grid-column: span 10;
  }
  .grid .cell.lg11 {
    grid-column: span 11;
  }
  .grid .cell.lg12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .grid .cell.xl1 {
    grid-column: span 1;
  }
  .grid .cell.xl2 {
    grid-column: span 2;
  }
  .grid .cell.xl3 {
    grid-column: span 3;
  }
  .grid .cell.xl4 {
    grid-column: span 4;
  }
  .grid .cell.xl5 {
    grid-column: span 5;
  }
  .grid .cell.xl6 {
    grid-column: span 6;
  }
  .grid .cell.xl7 {
    grid-column: span 7;
  }
  .grid .cell.xl8 {
    grid-column: span 8;
  }
  .grid .cell.xl9 {
    grid-column: span 9;
  }
  .grid .cell.xl10 {
    grid-column: span 10;
  }
  .grid .cell.xl11 {
    grid-column: span 11;
  }
  .grid .cell.xl12 {
    grid-column: span 12;
  }
}

/*# sourceMappingURL=main.css.map */
